source https://www.nuget.org/api/v2/
framework >= net45

nuget Expression.Blend.Sdk 1.0.2
nuget FSharp.ViewModule.Core 0.9.9.1
nuget FsXaml.Wpf 0.9.9
nuget LiveCharts 0.8.1.1
nuget LiveCharts.Wpf 0.8.1.1